.tool-box {
	padding: 0 10px;
}
.timelist {
	color: #FFF;
	padding: 5px 0;
	position: absolute;
	left: 0;
	top: 0;
	width: 650px;
	background: #125D7F;
	height: 25px;
	line-height: 25px;
}
.timelist2 {
	width: 500px;
	overflow: hidden;
}
.timelist .left {
	width: 16px;
	height: 16px;
	float: left;
	margin-left: 110px;
}
.timelist ul {
	margin: 0;
	padding: 0;
	width: 1500px;
	overflow: hidden;
}
.timelist li {
	display: block;
	float: left;
	width: 100px;
	font-size: 11px;
	text-align: center;
	margin: 0;
	padding: 0;
}
.timecell {
	overflow: hidden;
	display: block;
	padding: 5px 0 5px 7px;
	color: #777;
}
.timecell:hover {
	background: #A9A;
}
.timecell .item {
	float: left;
	width: 20px;
	height: 20px;
	background: #AED;
	text-align: center;
	line-height: 20px;
	margin: 1px;
	font-size: 10px;
}
.timecell .ordered {
	background: #DAC;
}
.timecell .restrict {
	background: #397;
	color: #DDD;
}
.timecell .placeholder {
	background: transparent;
}
.roomitem {
	padding: 5px 0;
}
#timedrag {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	z-index: 999px;
	background: url(images/transparent.png);
	cursor: move;
}
